.table_title{
    /* font: var(--unnamed-font-style-normal) normal medium var(--unnamed-font-size-18)/20px Saira Condensed; */
    /* font-size: medium;
    font-family: saira Condensed;  
    letter-spacing: 0.4px;
    font-weight: normal; */
    /* font-size: medium; */
    /* font: var(--unnamed-font-style-normal) normal medium var(--unnamed-font-size-18)/20px Saira Condensed; */
text-align: left;
/* font:  normal medium 3rem/3rem Saira Condensed; */
font-family: 'Saira Condensed', sans-serif;

letter-spacing: 0.36px;
color: #2D2B2E;
text-transform: capitalize;
/* opacity: 1; */
      /* font-weight: 700; */
}
.wrapinputprod{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.calcProducts{
    padding-top: 0px;
    padding-bottom: 0px;
}
.inputproduct{
    padding-top: 1.5%;
    padding-bottom:1.5%;

}
.nonborder{
    border:none
}
.wrapproduct::after{
border: none !important;
}