.wrap_table
{
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    
    display: inline-block;
    height: 90%;
}
.con{
    background-color: white;
}
tr.expandable > td > .inner {
    margin: 15px;
    overflow: hidden;
  }
  .tdToggle{
    border: none !important;
    height: 0px !important;
    /* padding-top: 0px; */
    padding: 0px !important;
  }
  .posity{
    opacity: 0.5 !important;
  }
  #icons {
    color: gray;
}
#icons:hover {
  color: rgb(142, 115, 236);
}