@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);
body{
    font-family: Roboto;
}
.div_personal{
    margin: 300px;
    background-color: aqua;
}
.i_topic{
    background: #EEE5FC !important;
    /* color: #9DA0AF; */
    color: #917BDF;
    border:0px;
    font-size: small !important;
    padding-left: 10%;
    
    /* width: 100%;
    height: 270%; */
}
/* .zzz1{
    height: 80% !important;
    width: 25% !important;
}
.zzz{
    width: 50% !important;
    height:50% !important;
} */
.i_topic:hover{
    border:1px solid #9DA0AF;

}
.i_position{
    background-color: #D3FCC7 ;
    border:0px !important
}
.btn_save{
    /* color: red !important;
    border: #3A405E 1px; */
    width: 80%;
height: 40px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #A66DFF;
color: #A66DFF;
border-radius: 6px;
opacity: 1;
margin-left: inherit;
font-size: 90%;
font-weight: 600;
}
.btn_save:hover {
    color: #A66DFF !important;
    background:#FFFFFF ;
    border: 1px solid #A66DFF;

    /* color: black; */
    text-decoration: none;
}
.div_btn_save{
    text-align-last:center
}
.btn_save:focus {
    outline: none;
    box-shadow: none;
    background:#FFFFFF !important;
    color: #A66DFF !important;
  }
.input-group-text{
   border: 0px;  color: #EEE5FC;

}
.form-control{
    height: 40px;
}
.i_color_grey{
    font-size: small;
background-color: #F6F6FA !important;
}
.div_social{
    background-color: #F5F5FA;
}
.img_social{
    /* width: 20px;
    height: 20px; */
    margin:auto;
}
.i_bottom{
    border: 0;
    border-bottom: 1px solid #B5B9CD;
}
.div_font{
    text-align: left;
font: normal normal bold 16px/20px Roboto;

letter-spacing: 0.36px;
color: #1C1D21;
opacity: 1;
}
.font_1{
    text-align: left;
font: normal normal 600 16px/20px Roboto;
letter-spacing: 0px;
color: #1C1D21;
text-transform: capitalize;
opacity: 1;
}
.font_2{
    text-align: left;
font: normal normal 600 14px/20px Roboto;
letter-spacing: 0.31px;
color: #8E8D93;
text-transform: capitalize;
opacity: 1;
}
.input-group{
    background-color: #F6F6FA;
}
.img_logo{
    width: 10vh;
height: 10h;
    /* background: #F6F6FA ; */
    /* border-color:red !important; */
border-radius: 5px;
opacity: 1;
}
.lbl_img{
    border: 0;;
    height: 70%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.unstyled::-webkit-inner-spin-button,
.unstyled::-webkit-calendar-picker-indicator {
    /* display: none; */
    -webkit-appearance: none;
}

.calendar::-webkit-calendar-picker-indicator {
    filter: invert(0.5);
} 
/* .calendar:focus{
    color: transparent;
} */

.input_url{
    outline: 0;
    border-width: 0 0 2px;
    border-color:  #B5B9CD;
    width: 100vh;

}
.pb-5, .py-5 {
    padding-bottom: 0rem!important;
    /* padding-left: 8rem!important; */
  }
.div_medias{
    text-align: left;
font: normal normal 600 14px/20px Roboto;
letter-spacing: 0.31px;
color: #8E8D93;
text-transform: capitalize;
opacity: 1;
}
.div1{
    /* overflow-y: scroll; */
    height: 87vh;
    /* max-height: 120px; */
    overflow-x: hidden;
}
/* .scrollbar {
    overflow-y: scroll;
  } */
  
  /* .scrollbar::-webkit-scrollbar {
    width: 6px;
  } */
  
  /* .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.2);
  } */
  
  /* custom colors  */
  /* .scrollbar-primary::-webkit-scrollbar {
    background-color: #F5F5F5;
  }
  .scrollbar-primary {
    scrollbar-color: #4285f4 #f5f5f5;
  }
  .scrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #4285F4;
  } */
 .color_name{
    background-color:white !important;

 }
 .placeholdersize:-webkit-input-placeholder { /* IE 10+ */
    font-size: 1em;
}
.col-3,.col-4,.col-6,.col-md-4{
    padding:3px !important;
}
/* .scrollbar::-webkit-scrollbar {
    display: none;
} */
  #i_eye{
      margin-top: 10px;
}
.center_txt{
    align-items: center;
}
.img_copy{
    width: 23px;
    height: 23px;
 padding-left: 5px;   
}
.img_copy::after{
    content: 'jhj';
}
.img_copy::before{
    content: '';
}
.div_api{
    align-items: center;
}
  @media screen and (max-width: 600px) {
    .btn_save{
        width: 38px;
        font-size: 10px;
font-weight: bold;
padding: 0;
    }
    .img_social{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .col_small_right{
        padding-left: 10px !important;

    }
    .col_small_left{
margin-right: 10px;
    }
    .col_small_lable{
        padding-left: 12px !important;

    }
    .col_small_num{
        /* כדי שהנמבר יזוז פנימה במסך קטן */
        margin-right: 10px;
    }
    .btn_save_small{
        /* כדי שהכפתור יזוז ימינה */
        padding-left: 0;
    }
}