.popUpAnswerTestView {
    height:fit-content;
    width    : 60% !important;
    /* position : fixed; */
    opacity: 1;
    top      : 45%;
    left     : 85%;
    transform: translate(-50%, -50%);
    /* height   : inherit; */
}
/* @media(max-width: 1024px) {
    .popUpAnswerTestView {
        width    : 20% !important

    }
} */

/* .popUpAlert .modal-content {
    height    : 60vh;
    margin-top: 30vh !important;
    width     : 85% !important;
    left      : 7% !important;
    box-shadow: 1px 3px 18px 3px rgb(0 0 0 / 13%) !important;
    margin-bottom: 30%;
} */

.popUpAnswerTestView .modal-content {
    height    : fit-content;
    /* height: max-content !important; */
    margin-top: 50vh !important;
    width     : 100% !important;
    /* left      : 7% !important; */
    box-shadow: 1px 3px 18px 3px rgb(0 0 0 / 13%) !important;
    margin-bottom: 30%;
}

/* .popUpAlert .modal-header .close {
    padding: 2rem 2rem;
} */

.popUpAnswerTestView .modal-header .close {
    padding: 2rem 2rem;
}
/* @media (max-width: 1024px) {
    .popUpAnswerTestView .modal-header .close {
        padding: 1rem 1rem;
    }
  } */
  .modal-open .modal {
    overflow-x: hidden;
    overflow-y: hidden;
}

/* .popUpAlert .modal-header {
    border-bottom   : none;
    display         : flex;
    flex-direction  : column;
    height          : 7vh;
    text-align      : center;
    align-items     : center !important;
    border-top-color: red !important;
    border-top-style: solid !important;
    padding-bottom  : 0 !important;
    padding-top     : 0.9%;
} */

.popUpAnswerTestView .modal-header {
    border-bottom   : none;
    display         : flex;
    flex-direction  : column;
    /* height       : inherit; */
    height          : 4vh;
    text-align      : center;
    align-items     : center !important;
    /* border-top   : double !important;
    border-color    : red !important; */
    border-top-color: #917BDF !important;
    border-top-style: solid !important;
    padding-bottom  : 0 !important;
    padding-top     : 0.9%;
}
.close {
    background: transparent !important
}
.close:focus{
    border:none
}
@media (max-width: 1024px) {
    .popUpAnswerTestView .modal-header {
      height: 3vh;
    }
  }

/* .popUpAlert .modal-backdrop.show {
    background-color: white !important;
    opacity         : 0 !important;
} */

.popUpAnswerTestView .modal-backdrop.show {
    background-color: white !important;
    opacity         : 0 !important;
}