.fieldNmaeCss {
    border: none !important;
    height: 5vh !important;
    width: 90% !important;
    background: rgb(245 244 244) !important;
    border-radius: 1vh !important;
    margin-bottom: 7%;
    font-size: 2vh !important;
}
.fieldNmaeCss:focus{
    border: none !important;
}
.popUpAnswerTest1 .modal-content {
    height: fit-content;
    /* height: max-content !important; */
    margin-top: 30vh !important;
    width: 99% !important;
    left: 7% !important;
    box-shadow: 1px 3px 18px 3px rgb(0 0 0 / 13%) !important;
    margin-bottom: 30%;
}


.modalPDF {
    width      : 40% !important;
    margin-left: 30%;
    display    : block;
}


.popUpAnswerTest1 {
    width    : 30% !important;
    /* position : fixed; */
    opacity: 1;
    top      : 60%;
    left     : 85%;
    transform: translate(-50%, -50%);
    height   : inherit;
}
@media(max-width: 1024px) {
    .popUpAnswerTest1 {
        width    : 100% !important

    }
}

.popUpAlert .modal-content {
    height    : 60vh;
    /* height: max-content !important; */
    margin-top: 30vh !important;
    width     : 85% !important;
    left      : 7% !important;
    box-shadow: 1px 3px 18px 3px rgb(0 0 0 / 13%) !important;
    margin-bottom: 30%;
}

.popUpAnswerTest1 .modal-content {
    height    : fit-content;
    /* height: max-content !important; */
    margin-top: 30vh !important;
    width     : 85% !important;
    left      : 7% !important;
    box-shadow: 1px 3px 18px 3px rgb(0 0 0 / 13%) !important;
    margin-bottom: 30%;
}

.popUpAlert .modal-header .close {
    padding: 2rem 2rem;
}

.popUpAnswerTest1 .modal-header .close {
    padding: 2rem 2rem;
}
@media (max-width: 1024px) {
    .popUpAnswerTest1 .modal-header .close {
        padding: 1rem 1rem;
    }
  }
  .modal-open .modal {
    overflow-x: hidden;
    overflow-y: hidden;
}

.popUpAlert .modal-header {
    border-bottom   : none;
    display         : flex;
    flex-direction  : column;
    /* height       : inherit; */
    height          : 7vh;
    text-align      : center;
    align-items     : center !important;
    /* border-top   : double !important;
    border-color    : red !important; */
    border-top-color: red !important;
    border-top-style: solid !important;
    padding-bottom  : 0 !important;
    padding-top     : 0.9%;
}

.popUpAnswerTest1 .modal-header {
    border-bottom   : none;
    display         : flex;
    flex-direction  : column;
    /* height       : inherit; */
    height          : 4vh;
    text-align      : center;
    align-items     : center !important;
    /* border-top   : double !important;
    border-color    : red !important; */
    border-top-color: #917BDF !important;
    border-top-style: solid !important;
    padding-bottom  : 0 !important;
    padding-top     : 0.9%;
}
.close {
    background: transparent !important
}
.close:focus{
    border:none
}
@media (max-width: 1024px) {
    .popUpAnswerTest1 .modal-header {
      height: 3vh;
    }
  }

.popUpAlert .modal-backdrop.show {
    background-color: white !important;
    opacity         : 0 !important;
}

.popUpAnswerTest1 .modal-backdrop.show {
    background-color: white !important;
    opacity         : 0 !important;
}