.list-group-item{
    background: #0A102E 0% 0% no-repeat padding-box; 
    border:none;
    color:white;
   
}
.l{
    color: white;
    font-size: 13px;
    padding-left: 15px;
  /* font-size: 200%;   */

}
.r{
    /* border-radius: 0px 10% 0px 0px; */
}
.border-hidden{
    border-radius: 0px 13px 0px 0px;
}
.yy{

    height: 5vh;
        background-color: "#0A102E";
         border: "none";
        color: "white";
        padding-left: 10%;

}
/* .list-group-item+.list-group-item{
    height: 5vh;
    padding-top: 1vh;
} */
.li_hidden{
    height: 1.5vh  !important;
}
.li_hidden:hover{
   background-color: transparent !important;
}
.li_hidden:focus{
    background-color: transparent !important;
}
.i{
    width:15px !important;
    height: 15px !important;
}
.l:hover{
   border:none;
   color: white;
   /* text-decoration:none; */

}
.yy:hover{
    border-left: 2px solid #917BDF;
    background: transparent linear-gradient(90deg,rgba(145,123,223,0.18) 0% ,rgba(145,123,223,0.18) 35%, #006C8000 100%) 0% 0% no-repeat padding-box;
    /* opacity: 0.18; */
    color: white !important;
}
.li_wrap{
    padding-left: 13%;
}.ttt{
    animation:ttt 0.6s forwards;
    /* -webkit-animation: ttt 0.5s forwards; */
}
.ii{
    animation:ii 0.1s forwards;
    -webkit-animation: ii 0.1s forwards;
}
@keyframes ii {
    100%{ transform: translateX(-100%)}
}

@-webkit-keyframes ii {
    100%{ -webkit-transform: translateX(-100%)}
}
.setting3{
    width: 100%;
    padding:0;
}
.setting2{
    width: 100%;
    /* visibility: hidden; */
    /* transition: 1s;
    left:0px */
    padding:0;
    /* transform: translateX(-100%);
    -webkit-transform: translateX(-100%); */
    /* border-radius: 0px 80px 0px 0px; */
    transform: translateX(0%);
    /* -webkit-transform: translateX(0%); */
}
.setting{
    width: 100%;
    /* visibility: hidden; */
    /* transition: 1s;
    left:0px */
    padding:0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    /* border-radius: 0px 80px 0px 0px; */
}@keyframes ttt {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes ttt {
    100% { -webkit-transform: translateX(0%); }
}
.mnmn{
    background-color: brown;
}
.yuutiiuioio{
    background: transparent linear-gradient(90deg,rgba(145,123,223,0.18) 0% ,rgba(145,123,223,0.18) 35%, #006C8000 100%) 0% 0% no-repeat padding-box;
    /* background-color: red !important; */
}
.trtr{
    transition-timing-function: linear;
    transition-timing-function: cubic-bezier(0, 0, 1, 1);
}

@-webkit-keyframes ii {
    100%{ -webkit-transform: translateX(-100%)}
}
.setting3{
    width: 100%;
    padding:0;
}
.setting2{
    width: 100%;
    /* visibility: hidden; */
    /* transition: 1s;
    left:0px */
    padding:0;
    /* transform: translateX(-100%);
    -webkit-transform: translateX(-100%); */
    /* border-radius: 0px 80px 0px 0px; */
    transform: translateX(0%);
    /* -webkit-transform: translateX(0%); */
}
.setting{
    width: 100%;
    /* visibility: hidden; */
    /* transition: 1s;
    left:0px */
    padding:0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    /* border-radius: 0px 80px 0px 0px; */
}@keyframes ttt {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes ttt {
    100% { -webkit-transform: translateX(0%); }
}
.mnmn{
    background-color: brown;
}
.yuutiiuioio{
    background: transparent linear-gradient(90deg,rgba(145,123,223,0.18) 0% ,rgba(145,123,223,0.18) 35%, #006C8000 100%) 0% 0% no-repeat padding-box;
    /* background-color: red !important; */
}












.left_nav{
    height:93vh;
    background: #0A102E 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    /* border-radius: 0px 80px 0px 0px; */
    /* margin-top:-7vh;  */
   
    }
    .border_configurator{
      border-radius: 0px 80px 0px 0px; 
    }
    .list_config{
      padding-top: 8vh;
    }
    ul{
      padding-left: 0;
    }
    li{
      cursor: pointer;
      padding-left: 4vh;
      line-height: 2.8; 
    }
    .li-back{
      /* background: transparent linear-gradient(90deg, #bceff8 0%,
       #006C8000 100%) 0% 0% no-repeat padding-box;  */
       /* background: linear-gradient(90deg, #65E8FF 0%, #006C8000 100%) 0% 0% no-repeat padding-box; */
       /* opacity: 0.18; */
       /* background: url(''); */
       border-left:1px solid #40D9ED; 
       /* margin-left: 2vh; */
  
    }
    li:focus{
      background-color:white;
    }
    li p{
      color: white;
      display: inline-block;
      opacity: 1!important;
    }
    li img{
      display: inline-block;
    }
   
    
















    /* #sa:hover #sb{
    width:"100px";
} */
/* .f:focus ~.des{
    background-color: red;
} */
.bb{

}
.wrapdm{
    /* display: inline-block; */
    height: 8vh;
}
#b_menu{
    background: linear-gradient(to right, rgb(209, 209, 209,0.13) 50%, rgb(222, 222, 222,0.23) 50%) left; 
    background-size: 200%;
    
    transition: .3s ease-out; 

}
#b_menu:focus {
    /* border-bottom: 3px solid #917BDF ; */
      background-position: right;
     
}

/* #b_design:focus +#b_menu{
    opacity: 0.3;
} */
#b_menu:focus +#b_design{
    opacity: 0.5;
}
#b_design:focus +#b_menu{
    opacity: 0.5;
}


/* #b_menu:focus +#b_design{ */
     /* opacity: 0.3; */
    /* background: linear-gradient(to left, rgba(253, 9, 9, 0.13) 50%, rgba(182, 156, 253, 0.23) 50%) right; 
    background-size: 200%;
    transition: .3s ease-out;  */
    
    /* background: red; */ 
        /* background-position: left; */
/* } */
/* #b_design:focus +#b_menu{
    opacity: 0.3;
} */
/* .button1 {width:10%; height:10%; background:red; }
.button2 { width:10%; height:10%; background:blue; } */
/* .button1:hover { background:green; } */
/* .button1:focus + .button2 { background:green; }  */
/* #b_menu:hover ~ #b_design{ 
background: greenyellow !important;
 } */
.b{
    /* position: relative; */
    width: 100%;
    height: 100%;
    background: rgb(209, 209, 209,0.13) ;
    /* background: rgba(10, 16, 46,.9); */
    /* background-color: */
    /* opacity: 0.2; */
    border:none;
    outline: none;
    overflow: none;
    color:white;
    font-size:x-small;
    /* border-bottom: 3px solid rgb(6, 42, 109) !important;  */
}

.b::after {
    position: absolute;
    display:flex;
    align-items: start;
    content: '';
    /* position: absolute; */
    /* padding: 0; */
    bottom:0px;
    right: 0px;
    left: 0px;
  /* right: 20px; */
  /* width: 30px; */
    width: 100%;
    border-bottom: 3px solid #917BDF ; 
    transform: scaleX(0);  
    transition: transform 250ms linear;
  }

  #b_design::after{  transform-origin:  0% 50%; }

  #b_menu::after{
    transform-origin:100% 50%;
  }
  /* #b_design:hover: */
   
/* } */


#b_design{
    background: linear-gradient(to left, rgb(209, 209, 209,0.13) 50%, rgb(222, 222, 222,0.23) 50%) right; 
    background-size: 200%;  
    transition: .3s ease-out; 
    
}
 .b:focus::after{
      transform: scaleX(1);
 }
#b_design:focus{
  
    background-position: left;
   
}



.b:focus{
    background:rgb(222, 222, 222,0.23);
    outline:none;
    /* border-bottom: 3px solid #917BDF !important; */
}
.stay_color_design{
    background:rgb(222, 222, 222,0.23) !important;
/* background-color: tomato !important; */
outline:none;
border-bottom: 3px solid #917BDF !important;

}
.stay_color_menu{
    background:rgb(222, 222, 222,0.23) !important;
/* background-color: tomato !important; */
outline:none;
/* border-bottom: 3px solid #917BDF !important; */

}
/* div { font: 22px Arial; display: inline-block; padding: 1em 2em; text-align: center; color: white; background: red;  background: linear-gradient(to left, salmon 50%, lightblue 50%) right; background-size: 200%; transition: .5s ease-out; } div:hover { background-position: left; } */
/* <div>Hover me</div> */

/* @keyframes move {
    from { left: 30px; }
    to { left: 100px; }
   } */
   
.wrapb{
     padding:0 !important;  
}
.b:hover{
    /* background: rgba(0, 0, 0, 0.5); */
    /* z-index: 10; */
    /* box-shadow: inset 0px 0px 400px 110px rgba(10, 16, 46,.8); */
  
    /* box-shadow: inset 0px 0px 400px 110px rgba(22, 27, 49, 0.6); */
    /* background-color:rgba(22, 27, 49, 0.5) ; */
}
.ppoo{
    background-color: crimson;
}
