
.ss:hover{
    width: 130%;   
   }
   .ss{
   margin-right: -14px;
       background-color:white;
        box-shadow: -3px 5px 4px #00000029;
       width:50%;
       height:100%;
   }
   .flex_configurator{
       flex: 0 0 5.666667%;
   }
   .flex-main{

    flex: 0 0 93.333333%;
    max-width: 93.333333%;
    padding-left: 0px;
    padding-right: 0px;
   }