.tbl_customers {
  font-size: large;
}

.wrap_table {
  overflow-y: auto;
  overflow-x: hidden;
  width     : 100%;

  display: inline-block;
  height : 85%;
}

.wrap_table::-webkit-scrollbar {
  width: 0.3em;
}

.wrap_table::-webkit-scrollbar-track {
  background   : rgb(201, 196, 196) 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity      : 0.15;
}

.con {
  padding         : 3% !important;
  background-color: white;
}

.has-search {
  margin-left: 27px;
  /* display : inline; */


}

.form-control {
  height: 4vh !important;
  width : 15vw !important;
  background:
    #EBEAEA 0% 0% no-repeat padding-box;

}

/* ::placeholder {
  font-size: 0.6vw;
 
  
  
  color: #8D8DAE;
  opacity: 1;
  } */
.ff {
  padding-left: 11px;
  color       : #9797B6 0% 0% no-repeat padding-box;
  opacity     : 1;
  /* top      :12px;
      position: absolute;
      z-index : 2;
      display : block; 
      right   :25px; */
}

.label1 {
  font      : var(--unnamed-font-style-normal) normal bold 16px/19px Lato;
  text-align: center;

  /* letter-spacing: 0.32px; */
  color        : #8D8DAE;
  opacity      : 1;
  padding-right: 0.75vw;
  /* font-size :0.8vw;
     
     opacity   : 1; */

  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.wraplabel {

  display    : inline-block;
  padding-top: 7px;
  margin-left: 27px
}

.wrapsearch {
  box-shadow   : 0px 0px 1px 1px #ccc;
  background   : #F6F5FC 0% 0% no-repeat padding-box;
  border       : 0.10000000149011612px solid #F6F5FC;
  border-radius: 7px;
  opacity      : 1;

  /* background: #F6F5FC 0% 0% no-repeat padding-box; */
  height: 60px;
  width : 230px;
}

.myTextBox {
  border-top-style      : hidden;
  border-right-style    : hidden;
  border-left-style     : hidden;
  /* border-bottom-style: groove; */
  border-bottom-color   : dimgray;
  border-bottom-width   : 1px;

  height    : 90%;
  background: transparent;
}

/* I made the background-color same as the page's background-color because this leaves just a line to type on. */
/* input[type="text"]
{
  font-size: 0.6vw;
  width: 10vw;
  height: 3vw;
} */
th {
  position      : sticky;
  width         : 13%;
  text-align    : left;
  font-size     : 1.1rem;
  letter-spacing: 0px;
  color         : #05131D;
  opacity       : 1;
  font-family   : 'Roboto', sans-serif;
}

td {
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* .tdemail::-webkit-scrollbar {
  width: 0.091em; 
} 
.tdemail::-webkit-scrollbar-track {
    background: rgb(201, 196, 196) 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 0.15; } */

.tgtg {
  width     : 158px;
  overflow-x: auto;


}

.td_side_edit_delete_copy #icon {
  color: #C90A0A;

}

.tgtg::-webkit-scrollbar {
  width : 0.01em;
  height: 0.01em;

}

.tgtg::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.00);

  border       : 0.1px solid #D6D6D6;
  border-radius: 10px;
}

.tgtg::-webkit-scrollbar-thumb {
  background-color: #D6D6D6;
  border-radius   : 10px;

}

.td_tt {
  width        : 5%;
  border    :none;
  /* border-top: 0px !important; */
}

.img {
  background: transparent url() 0% 0% no-repeat padding-box;
}

.td_checbox {
  width     : 5%;
  border    : none;
  border-top: 0px !important;
}

tr:hover #td_hover {
  background-color: white;
}

.y:hover .tooltiptext {
  visibility: visible;
}

.tooltiptext {
  visibility: hidden;

  background-color: black;


  /* border-radius: 6px; */
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index : 1;
}

.y {
  position     : relative;
  display      : inline-block;
  border-bottom: 1px dotted black;
  /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tool {
  background-color: black;
  width           : 50px;
}