@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
#bgImg{
    background-repeat: no-repeat;
    background-size: cover;
    padding: 7%;
    background-repeat: no-repeat;
    background-size: cover;
 
}
#headers-name,#headers-name::placeholder,#headers-numInvoice,#headers-numInvoice::placeholder{
    font-size: 22px;
}
#userLogo-temp1{
    width: 30vh;
    height: 20vh;
}
#userLogo-temp1:hover{
    border:1px dashed lightgray;
}
.main-temp1{
    /* padding: 7% !important; */
    background-color: white !important;
}
.sum-temp1{
    text-align: center;
    margin: 0;
}
#table-temp1{
    border-top: 2px solid #00000029;
    border-bottom: 2px solid#00000029;
}
.plusIcon-temp1 , .plusIcon-temp1:hover{
    background-color: #DBD0D7;
     border-radius: 50%;
}
.total-temp1{
    font-size: 14px;
}
.totalSum-temp1{
    border-top: 2px solid #00000029;
    font-size: 16px;
}
.editable-temp1, .static-temp1{
    border: 0 ;
    outline: 0;
    background: transparent;
    border-bottom: unset;
    color: black;
    font-size: 16px;
}
.editable-temp1::placeholder  , .editable-temp1:focus{
    border: 0 ;
    outline: 0;
    background: transparent;
    border-bottom: unset;
    color: black;
    font-size: 16px;
  }

.editable-temp1:focus, .focus-temp1, .focus-temp1:focus, .focus-temp1::placeholder{
    
    border: 0 ;
    outline: 0;
    background-color: #DBD0D7;
    border-bottom: unset;
    color: black;
    font-size: 16px;
}
#title-temp1 , #title-temp1::placeholder{
    font-size: 22px;
    text-align: center;
}
#comment-temp1 {
    font-size: 14px;
    font-weight: bold;
}
