#payment_card{
    width: 20rem;
    height: 25rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    /* transition: 0.3s; */
}
#payment_card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.paypalLogo{
    width: 20rem;
    height: 15rem;
}
.paypalCard_addButton{
    width: 7rem;
    background-color: #202224 !important;
    /* border: none; */
    color: white;
}
.paypalCard_addButton:hover{
    background-color: #3A405E !important; 
}
.payments_hr{
    margin-top: 0rem;
}
/* .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
  } */
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }